body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #999;
  color: #222;
}

textarea {
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #666;
}

h1, h2 {
  background-color: #888;
  padding: 4px;
}

pre {
  padding: 10px;
  background-color: #222;
  color: white;
}

pre.term {
  font-family: ‘Lucida Console’, Monaco, monospace;
  width: 80%;
  margin: 10px 10%;
  text-align: left;
  padding: 20px 40px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

span.prompt {
  color: #393;
}

p.quote {
  font-style: italic;
  background-color: #eee;
  color: #666;
  width: 50%;
  margin: 10px 25%;
  text-align: center;
  padding: 20px 40px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

p#error {
  color: red;
  font-weight: bold;
}
